.background {
        display: flex;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        &_login_left {
                flex: 1;
                // animation: sliderLeft ease 2s forwards;
        }
        &_login_right {
                flex: 1;
                // animation: sliderRight ease 2s forwards;
        }
         &_login{
                background-color: #33c0e4;
                will-change: transform;
         }

        .form_login {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
                width: 400px;
                height: 500px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 3px 4px 30px 10px rgba(0, 0, 0, 0.08);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all ease 1.5s;

                .form {
                        min-width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        padding: 0 20px;
                }

                .form_group {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                        &:first-child {
                                margin-bottom: 40px;
                        }
                        
                        .form_label {
                                font-size: 16px;
                                font-weight: 900;
                                color:  var(--textSecon-color);
                                font-family:"Poppins", sans-serif;
                        }

                        .form_input {
                                width: 100%;
                                border-radius: 2px;
                                overflow: hidden;
                                display: flex;

                                align-self: center;
                                border: 1px solid #ccc;
                                border-radius: 12px;

                        }

                        .form_control {
                                padding: 12px;
                                border: none;
                                outline: none;
                                flex: 1;


                                font-size: 16px;
                                font-weight: 600;
                                background-color: transparent;
          
                        }

                        .form_icon {
                                margin-left: auto;
                                outline: none;
                        }

                        .form_submit {
                                padding: 8px 12px;
                                background-color: var(--primary-color);
                                color: #fff;
                                font-size: 18px;
                                font-weight: 600;

                                width: 120px;
                                align-self: flex-end;
                                border-radius: 12px;
                                border: none;
                                outline: none;
                                cursor: pointer;
                        }
                }
                .form_title {
                        font-size: 32px;
                        color: var(--primary-color);
                        margin-top: 20px;

                        font-weight: 600;
                }
                .form_sub_title {
                        font-size: 16px;
                        color: #f8a8da;
                        font-weight: 600;

                }

        }
        .logo_top {
                font-size: 28px;
                color: var(--primary-color);
                // display: flex;
                // align-items: center;
                align-self: flex-start;
                padding: 0 20px;
                pointer-events: none;
                font-weight: 900;
                margin-top: 20px;
                text-shadow: 2px 2px #33c0e4;
                // margin-bottom: 20px;
                // .logo_text {
                //         // letter-spacing: 12px;
                //         font-family: 'Permanent Marker', cursive;
                // }
        }

        .form_group_utti {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                // padding: 0 20px;

        }
        .form_remember {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 600;
        }

        .mg_l_8 {
                margin-left: 8px;
        }
        
}

@media (max-width: 576px) {
        .background {
                display: flex;
                width: 100vw;
                height: 100vh;
                background-color: #fff;
                align-items: center;
                &_login {
                        display: none;
                }
                
                .form_login {
                        position: relative;
                        display: flex;
                        justify-content: flex-start;
                        min-width: 100%;
                        height: 100vh;
                        padding: 0 20px;
                        .form {
                                min-width: 100%;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                        }

                        .form_group {
                                margin-bottom: 30px;
                        }
                         .form_sub_title {
                                 font-size: 14px;
                                 text-align: center;
                         } 
                         .form_remember {
                                font-size: 14px;
                         }
                         .form_submit {
                                 min-width: 100%;
                                 margin-top: 30px;
                         }
                         .logo_top  {
                                align-self: center;
                         }
                }
        }
}

@keyframes sliderLeft {
        to {
                transform: translateX(-100%);
        }
}

@keyframes sliderRight {
        to {
                transform: translateX(100%);
        }
}